@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@layer base {
  body {
    background-image: url('/assets/images/backgrounds/textured.jpg');
    background-repeat: repeat-y;
    background-position: top center;
    background-size: 100% auto;
    background-attachment: scroll;
  }
}

@layer components {
  .font-handwritten {
    font-family: 'Reenie Beanie', cursive;
  }

  .font-typewriter {
    font-family: 'Special Elite', monospace;
  }
}
