@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@layer base {
  body {
    @apply min-h-screen w-full bg-cover bg-no-repeat bg-center flex items-center justify-center text-black;
    background-image: url('/assets/images/backgrounds/b1.png');
    font-family: 'Special Elite', monospace;
  }
}

@layer components {
  .font-handwritten {
    font-family: 'Reenie Beanie', cursive;
  }

  .font-typewriter {
    font-family: 'Special Elite', monospace;
  }
}
